{{!-- Comment Section--}}

<div class="card my-3 mx-auto" style="width: 90%;">
  <div class="card-body p-0">
    <section>
      <h5 class="card-header bg-info">{{ username }}</h5>
      <p class="card-text p-3">{{ content }}</p>
      <p class="card-text mb-0 p-0 card-footer">
        <div class="d-sm-flex p-2 justify-content-between">
        {{#if loggedIn}}
          {{#if (if_user author_id user_id)}}
        <div class="button-group">
          <button id="commentUpdate" class="btn btn-primary" data-comment-id="{{ id }}" data-bs-toggle="modal" data-bs-target="#updateModalComment" type="button">Update</button>
          <button id="commentDelete" class="btn btn-primary" data-comment-id="{{ id }}" type="button">Delete</button>
        </div>
          {{/if}}
        {{/if}}
          Comment Date: {{ format_created updatedAt }}
        </div>
      </p>
    </section>
  </div>
</div>
